In [1]:
import pandas as pd

In [41]:
df = pd.read_csv('yob2021.txt',  sep=',', header=None, names=["Name", "Sex", "Count"])

In [42]:
print(df)

            Name Sex  Count
0         Olivia   F  17728
1           Emma   F  15433
2      Charlotte   F  13285
3         Amelia   F  12952
4            Ava   F  12759
...          ...  ..    ...
31532     Zyeire   M      5
31533       Zyel   M      5
31534      Zyian   M      5
31535      Zylar   M      5
31536        Zyn   M      5

[31537 rows x 3 columns]

In [43]:
df.head(10)

        Name Sex  Count
0     Olivia   F  17728
1       Emma   F  15433
2  Charlotte   F  13285
3     Amelia   F  12952
4        Ava   F  12759
5     Sophia   F  12496
6   Isabella   F  11201
7        Mia   F  11096
8     Evelyn   F   9434
9     Harper   F   8388

In [18]:
df.shape

(31537, 3)

In [44]:
column = df["Count"]
sum = column.sum()

print(sum)

3361375

In [45]:
df_females = df[(df['Sex'] == 'F')]
column = df_females["Count"]
sum = column.sum()
print(sum)

1627098

In [46]:
df_males = df[(df['Sex'] == 'M')]
column = df_males["Count"]
sum = column.sum()
print(sum)

1734277

In [48]:
print (df[df['Name'] == 'Rabie'])

Empty DataFrame
Columns: [Name, Sex, Count]
Index: []

In [54]:
df_males = df[(df['Sex'] == 'M')]
df_females = df[(df['Sex'] == 'F')]

top5m = df_males.nlargest(5,'Count')
top5f = df_females.nlargest(5,'Count')

result = pd.concat[top5m, top5f]
print(result)

NameError: name 'keep' is not defined